<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action = "http://localhost:5000/showitems" method = "post">
         <table>
        <tr><td>ItemName</td>
        <td><input type ="text" name ="itemname"></td></tr>
        <tr><td>ItemID</td>
        <td><input type ="text" name ="itemid"></td></tr>
        <tr><td>Quantity</td>
        <td><input type ="text" name ="quantity"></td></tr>
        <tr><td>Price</td>
        <td><input type ="text" name ="price"></td></tr>
        <tr><td><input type = "submit"></td></tr>
    </table>
      </form>

</body>
</html>
